footer {
  color: #ffffff;
  padding-bottom: 20px;
  margin: 0 !important;
}
footer p {
    font-size: 12px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kmb-logo {
  max-width: 150px;
}

.kingdom-building-thumbnail{
border-radius: 15px;
  max-width: 150px;
}