#merch {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.buy-now-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ffd700, #ffcc00, #ffb800);
  color: #141414;
  border: 2px solid #ffd700;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  animation: flash 1.5s infinite;  /* Use animation for flashing */
}

/* Container for positioning button */
.btn-container {
  padding: 20px 0;
}

@keyframes flash {
  0% {
    background-color: #ffd700;
    box-shadow: 0 0 20px #ffd700;
  }
  50% {
    background-color: #ffcc00;
    box-shadow: 0 0 20px #ffcc00;
  }
  100% {
    background-color: #ffd700;
    box-shadow: 0 0 20px #ffd700;
  }
}

/* Hover and Active Effects */
.buy-now-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ffd700, 0 0 30px #ffcc00;
}

.buy-now-btn:active {
  transform: scale(0.98);
}


.splash-img{
  max-width: 600px;
}